
.grid-container {

  	display: grid;
  	grid-template-columns: 700px 550px;
  	grid-template-rows: 500px 500px;
  	padding: 10px;

}

.grid-item {
  	background-color: rgba(255, 255, 255, 0.8);
 	/* border: 1px solid rgba(0, 0, 0, 0.8); */
  	padding: 20px;
  	font-size: 20px;
  	text-align: center;
}

img{

	margin-top: -15px;

}

h1 {

	background-image:url('https://media.giphy.com/media/rLicUxhgYAzFC/giphy.gif');
	color: red;
	margin-top: -15px;

}


p {
	margin-bottom: 50px;
	font-size: 20px;
}

table {

	width: 100%;

}

h3 {

	margin-top: 5px;

}

